		#droppable {
			height: 500px;
			width: 1000px;
			padding: 0.5em;
			float: left;
			margin: 10px;
			background-color: #EDF7FF;
			display: flex;
		}
		
		.draggableComponent {
			width: 80px;
			height: 20px;
			padding: 0.5em;
			float: left;
			margin: 10px 30px 10px 0;
		}
		
		#accordion-resizer-component {
			padding: 10px;
			width: 300px;
			height: 600px;
			float: left;
			display: flex;
		}
		
		#accordion-resizer-option {
			padding: 10px;
			width: 700px;
			height: 600px;
			float: left;
			display: flex;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
		}
		
		.clearfix:after {
			display: block;
			clear: both;
			content: "";
		}
		#myholder{
			height:100%;
			width:100%;
			overflow-y: auto;
		    overflow-x: auto;
		}
		#component-option {
			height: 500px;
			width: 500px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		
		#editor {
			height: 500px;
			width: 500px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.show-sctipt {
			height: 500px;
			width: 500px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 100px;
			    position: fixed;
					 z-index: 1000;
		}

		.btn-group {
			left: 50px;
		}
		#previewPaper{
			background-color:#ffffff;
		}
		.chartContainer-graph{
			height: 300px;
			width:100%;
		}

.html-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
		 z-index: 100;
}
.html-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}
.html-element button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: relative;
    top: -15px;
    left: -30px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
	 z-index: -1;
}
.html-element button.script {
    color: white;
    border: none;
    background-color: #00392B;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: relative;
    top: -15px;
    left: 60px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
	 z-index: -1;
}